<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-primary form-panel">
			<div class="panel-heading form-panel-heading">
				<h3 class="panel-title">Editing Restaurant</h3>
			</div>
			<div class="panel-body"> 
				<%= render 'form' %>
			</div>
			<div class="panel-footer" style="text-align: center">
				<%= link_to 'Show', @restaurant %> |
				<%= link_to 'Back', restaurants_path %>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>


