// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-panel {
	border-color: #fed136;
	margin-top: 50px;
}

.form-panel-heading {
	background-color: #fed136 !important;
	border-color: #fed136 !important;
}

label {
	color: #fed136;
}